<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Recipedia</title>
    <link rel="stylesheet" href="/style/basecss.css">
</head>
<body>
    <div class="topContainer">
        <p>Recipedia</p>
    </div>
    <div class="content">
        <img src="/images/pasta.png" alt="pasta pic.png" id="image1">
        <div class="text1">
            <p>Add your recipe to make it</p>
        </div>
        <div class="text2">
            Worldwide
        </div>
        <div class="text3">
            Discovery 100+ recipes in your hand. Help you to find easiest way to cook
        </div>
        <div class="buttonplace">
            <a href="/template/explore.html"><button>Explore Recipe</button></a>
            <a href="/template/dashboard.html"><button>Add your Recipe</button></a>
        </div>
    </div>
</body>
</html>