<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore | Recipedia</title>
    <link rel="stylesheet" href="/style/dashboardcss.css">
</head>
<body>
    <div class="topcontainer">
        <div class="logo">Recipedia</div>
    </div>
    <p id="text1">These are created Recipes</p>
    <div id="content">
    </div>
    <div id="fullscreen">
        <span id="close" onclick="off2();">&times;</span>
        <span id="pen">&#9998;</span>
        <span id="tick">&#10004;</span>
        <h1 id="title">title goes here</h1>
        <h4 id="name">~ chefname</h4>
        <h2 id="texty">Ingredients</h2>
        <h2 id="ingredients"></h2>
        <h2 id="texty">Directions</h2>
        <h2 id="directions"></h2>
    </div>
</body>
<script src="/script/script2.js"></script>
</html>